body {
  background: #dfeff0;
}

a {
  color: #295e6a;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  font-size: 50px;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  font-size: 13px;
  margin: 30px 0;
  text-align: center;
}
